<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>comment template</title>
</head>
<body>

<div th:fragment="commentTemplate">
    <div th:each="comment : ${commentList}">
    <div class="card-body">
        <h6 class="card-title" style="color: dodgerblue" th:text="${'Dodano przez: ' + comment.getUserDTO().getNick()}">Użytkownik</h6>
        <textarea readonly style="background-color:white" class="form-control" id="new_comment" name="new_comment"
                  placeholder="komentarz" th:text="${comment.getText()}"></textarea>
    </div>
    </div>
</div>
</body>
</html>