<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">


<!-- Links -->
<head th:replace="fragments::links"></head>

<body>
<div class="page" style="background-color: #f4faff">

    <!-- Header -->
    <header th:replace="fragments::header"></header>

    <!-- Page Content -->
    <div class="container">
        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">
                <br>

                <!-- Add New Post -->
                <div th:replace = "postAdding :: postAdding"></div>

                <!-- Existing Posts -->
                <h4>Najnowsze na stronie</h4>

                <!-- Existing Posts -->
                <div th:replace = "postTemplate :: postTemplate"></div>

                <!-- First Post -->
                <div class="card mb-4">
                    <img class="card-img-top" th:src="@{../img/bieganie.jpg}" alt="Zdjęcie biegaczki">
                    <div class="card-body">
                        <h5 class="card-title" style="color: dodgerblue">Użytkownik: Zosia123</h5>
                        <p class="card-text">Przygotowania do 56 Biegu Westerplatte idą pełną parą! Dziś czas na 10 km
                            38 minut!</p>
                        <br>
                        <h5 class="card-text" style="color: dodgerblue">Kategoria: Bieganie</h5>

                        <a href="#" class="btn btn-primary">Czytaj &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Dodano: 2018-09-19 15:25</a>
                    </div>
                </div>

                <!-- Second Post -->
                <div class="card mb-4">
                    <img class="card-img-top" th:src="@{../img/wspin1.jpeg}" alt="Zdjęcie wspinacza">
                    <div class="card-body">
                        <h5 class="card-title" style="color: dodgerblue">Użytkownik: Zenek M.</h5>
                        <p class="card-text">Park Narodowy Yosemitte w Kaliforni. Snake Dike (5.7) na Half Dome
                            zdobyty!</p>
                        <br>
                        <h5 class="card-text"style="color: dodgerblue">Kategoria: Wspinaczka</h5>

                        <a href="#" class="btn btn-primary">Czytaj &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                       Dodano: 2018-08-29 08:55</a>
                    </div>
                </div>


                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Poprzednie</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Następne &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Szukaj</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Wyszukaj...">
                            <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button">Go!</button>
                </span>
                        </div>
                    </div>
                </div>

                <!-- Categories Widget -->
                <div th:replace="fragments::categories"></div>

                <!-- Side Widget -->


            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->


    <!-- Footer -->
    <footer th:replace="fragments::footer"></footer>

</div>
</body>
</html>


