<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="fragments :: links">-->
<!--</head>-->
<!--<body>-->

<!--<div th:replace="fragments :: header"></div>-->

<!--<div class="container marketing">-->
    <!--&lt;!&ndash;Treść strony&ndash;&gt;-->
    <!--<h3>Company list:</h3>-->
    <!--<div class="row col-md-offset-1 col-md-10">-->
        <!--<table border="1px">-->
            <!--<tr>-->
                <!--<div class="row table-header"> &lt;!&ndash;Nagłówek&ndash;&gt;-->
                    <!--<td>-->
                        <!--<div class="col-md-2">Id</div>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="col-md-2">Name</div>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="col-md-2">NIP</div>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<div class="col-md-2">Address</div>-->
                    <!--</td>-->

                <!--</div>  &lt;!&ndash;Nagłowek end&ndash;&gt;-->
            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->
    <!--&lt;!&ndash;Treść strony&ndash;&gt;-->
<!--</div>-->
<!--</body>-->
<!--</html>-->