<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Post Adding</title>
</head>
<body>
<div th:fragment="postAdding" sec:authorize="!isAnonymous()">
    <div class="card mb-4">
        <div class="card-body">

            <form  th:action="@{/post/add}" method="post"  enctype="multipart/form-data" th:object="${postDTO}" >
                <div class="form-group">
                    <label for="text">Utwórz post...</label>
                    <textarea  textarea class="form-control" id="text" th:field="*{text}" placeholder="Podziel się z nami swoim osiągnięciem!"/>
                    </textarea></div>
                <div class="form-group" >
                    <label for="category">Kategoria</label>
                        <select id="category" th:field="*{category}" class="form-control form-control-lg">
                            <option value="" selected>Wybierz</option>
                            <option th:each="aCategory : ${categories}"
                                    th:value="${aCategory}"
                                    th:text="${aCategory.getName()}">
                                    </option>
                        </select>
                </div>

                <div class="form-group">
                    <label for="image">Dodaj zdjęcie...</label>
                    <input type="file" name="file"
                           th:field="*{image}" id="image">
                </div>

                <button type="submit" class="btn btn-default">Wyślij!</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>