<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Links -->
<head th:replace="fragments::links">
    <title>Profile</title>
    <meta charset="utf-8">
</head>
<header th:replace="fragments::header"></header>
<hr>
<div class="container bootstrap snippet">

    <div class="row">
        <div class="col-sm-3"><!--left col-->


            <div class="text-center">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
            </div></hr><br>

            <ul class="list-group">
                <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Posty</strong></span></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Komentarze</strong></span></li>
            </ul>

        </div><!--/col-3-->
        <div class="col-sm-9">
            <a class="btn btn-primary" href="/profile" role="button">Info</a>
            <a class="btn btn-primary" href="/profile/post" role="button">Posty</a>
            <a class="btn btn-primary" href="#" role="button">Komentarze</a>
            <a class="btn btn-primary" href="/profile/edit" role="button">Edytuj Profil</a>
        </div><!--/tab-content-->

    </div><!--/col-9-->
</div><!--/row-->


<!-- Footer -->
<footer th:replace="fragments::footer"></footer>

</body>
</html>